name: Mochawesome
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install
        run: npm install --force
      - name: Test
        id: run_tests
        env:
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
        run: npx wdio config/browserstack/wdio.android.bs.conf.js --spec test/specs/android/noteapp.spec.js
      - uses: actions/upload-artifact@master
        if: always()
        with:
          name: mochawesome-report
          path: mochawesome-report
          retention-days: 20

      - name: Generate HTML report
        run: npm run generateMochawesome

      - name: Deploy report page to GitHub Page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: ./mochawesome

      - name: Slack Notification
        if: always()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://a.slack-edge.com/80588/img/services/outgoing-webhook_192.png
          SLACK_MESSAGE: Allure report is being generated and deployed on GH Pages with the link - https://osimkhusainov.github.io/wdio-app-test/${{github.run_number}}  You will get the deploy status in a couple of minutes. Browserstack report is ready - https://app-automate.browserstack.com/dashboard/v2/builds
          SLACK_MSG_AUTHOR: ${{github.actor}}
          SLACK_TITLE: Message
          SLACK_USERNAME: tide-automation
          SLACK_FOOTER: Repository ${{ github.repository.url }}
